Dashboard/Dashboard.UI.BrokerIntegration/Service References/BrokerExecution/Dashboard.Broker.Objects.DataObjects.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dashboard.Broker.Objects.DataObjects.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dashboard.Broker.Objects.DataObjects.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PluginExecutionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Configuration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PluginId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PluginExecutionInfo" nillable="true" type="tns:PluginExecutionInfo" />
</xs:schema>