Dashboard/Dashboard.Common/PluginXmlSchema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pluginName">
    <xs:restriction base="xs:string">
      <xs:minLength value="2"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="communicationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Plain"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="methodParameter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="String"></xs:enumeration>
      <xs:enumeration value="Json"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="plugin">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="pluginName" name="name"/>
        <xs:element type="guid" name="pluginId"/>
        <xs:element type="communicationType" name="communicationType"/>
        <xs:element name="api">
          <xs:complexType>
            <xs:all>
              <xs:element name="method">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="methodParameter" name="inputType"/>
                    <xs:element type="methodParameter" name="outputType"/>
                  </xs:sequence>
                  <xs:attribute name="name"></xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>